@import "tailwindcss";

@theme {
  --color-background: #F6F1E9;
  --color-primary: #FFD93D;
  --color-secondary: #FF9A00;
  --color-text: #4F200D;
}

* {
  border-color: var(--color-text);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
